.snackbar-enter {
  opacity: 0;
  transform: translateX(400px);
}

.snackbar-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 300ms, transform 300ms;
}

.snackbar-exit {
  opacity: 1;
}
.snackbar-exit-active {
  opacity: 0;
  transform: translateX(400px);
  transition: opacity 300ms, transform 300ms;
}

